@using AcademicianPlatformLoginPrototype.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@model IEnumerable<Announcement>
@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@{
	ViewData["Title"] = "Home Page";
}
@if (Model != null)
{
	@foreach (var item in Model)
	{
		@if (item != null)
		{
			var senderID = item.AnnouncementSenderID;
			var user = await UserStore.FindByIdAsync(senderID, CancellationToken.None);
			if (user != null)
			{
				<div class="container">
					<div class="card rounded border-none mb-3">
						<div class="card-header d-inline align-content-end card-header-with-shadow rounded-top" style="box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);">
							<h5>
								Duyuru
							</h5>
						</div>
						<span style=" align-items: end; justify-content:end; text-align: end;">Gönderim tarihi: @item.AnnouncementSentDate</span>

						<div class="card-body">
							<div>
								<h5 class="card-title">
									<div class="conatiner">
										<div class="row">
											<div class="col-lg-1 col-sm-2">
												<img src="@user.ProfilePhotoPath" class="img-fluid display-inline profilePic" style="width: 200px;">

											</div>
											<div class="col-10" style="margin-top: 10px;">

												<div class="row ml-0">

													<span style="font-size: 22px; ">@user.FirstName @user.LastName</span>
												</div>
												<div class="row">
													<span style="font-size: 13px;">Yazılım Mühendisliği</span>

												</div>

											</div>
										</div>
									</div>
								</h5>
							</div>
							<span style="font-size: 24px; color: #85150d;">@item.AnnouncementTitle</span>
							<br />
							<br />
							<p class="card-text" style="">@item.AnnouncementContent</p>
							<a class="btn btn-primary" asp-controller="Home" asp-action="AnnouncementDetails" asp-route-id="@item.ID">Detaylar</a>
						</div>


					</div>

					<br />
				</div>
			}
		}
	}
}