@using AcademicianPlatform.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@model IEnumerable<Announcement>
@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@{
	ViewData["Title"] = "Home Page";
}
@if (Model != null)
{
	@foreach (var item in Model)
	{
		@if (item != null)
		{
			var senderID = item.AnnouncementSenderID;
			var user = await UserStore.FindByIdAsync(senderID, CancellationToken.None);
			if (user != null)
			{

				<div class="container" style=" height:50%">
					<div class="card border mb-3" id="card" style="border-radius: 20px;">

						<div class="card-header d-inline align-content-end card-header-with-shadow rounded-top" style="box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1); border-radius: 30px;">
							<h5>
								Duyuru (@item.AnnouncementFaculty)
							</h5>
						</div>
						

						<div class="card-body">
							<div></div>
							<div>
								<h5 class="card-title">
									<div class="conatainer">
										<div class="row">
											<div class="col-lg-1 col-sm-2">
												<img src="@user.ProfilePhotoPath" class="img-fluid display-inline profilePic" style="width: 200px;">

											</div>
											<div class="col-10" style="margin-top: 10px;">

												<div class="row ml-0">

													<span style="font-size: 22px; ">@user.Title @user.FirstName @user.LastName <span style=" float: right; font-size: 12px;">Gönderim tarihi: @item.AnnouncementSentDate</span></span>
												</div>
												<div class="row">
													<span style="font-size: 13px;">@user.Department</span>

												</div>

											</div>
										</div>
									</div>
								</h5>
							</div>
							<span style="font-size: 24px; color: #85150d;">@item.AnnouncementTitle</span>
						
							<p class="card-text" id="card-text" style="">
								@item.AnnouncementContent
								</p>
							<a id ="details" asp-controller="Home" asp-action="AnnouncementDetails" asp-route-id="@item.ID">Detaylar</a>
						</div>
					</div>
					
					<br />
					
				</div>
			}
		}
	}
}