@using AcademicianPlatform.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@model AcademicianPlatform.Models.IndexModel

@{
	ViewData["Title"] = "Home Page";
}

<style>
	.faculty-btn {
		margin: 0 0.3%; /* Adjust the margin value as needed */
	}
</style>
<div class="container mb-3 mt-1">
	<div class="row">
		<div class="col-4">
			<select class="form-select" id="facultySelect">
				<option value="">Duyuruları Filtrele...</option>
				<option value="Index">Filtrele: Tüm Fakülteler</option>
				<option value="IndexFaculty" data-faculty="Tıp">Filtrele: Tıp Fakültesi</option>
				<option value="IndexFaculty" data-faculty="Diş Hekimliği">Filtrele: Diş Hekimliği Fakültesi</option>
				<option value="IndexFaculty" data-faculty="Eczacılık">Filtrele: Eczacılık Fakültesi</option>
				<option value="IndexFaculty" data-faculty="Mühendislik ve Doğa Bilimleri">Filtrele: Mühendislik ve Doğa Bilimleri Fakültesi</option>
				<option value="IndexFaculty" data-faculty="Sağlık Bilimleri">Filtrele: Sağlık Bilimleri Fakültesi</option>
				<option value="IndexFaculty" data-faculty="İktisadi, İdari ve Sosyal Bilimler">Filtrele: İktisadi, İdari ve Sosyal Bilimler Fakültesi</option>
			</select>
		</div>
		<div class="col-4"></div>
		<div class="col-4 text-end">
			<a asp-controller="Home" asp-action="NewAnnouncement" class="btn btn-outline-dark faculty-btn">Yeni Duyuru</a>
		</div>
	</div>
</div>
@*<div class="container mt-1 mb-3">
	<div class="d-flex justify-content-between">
		<a asp-controller="Home" asp-action="Index" class="btn btn-primary faculty-btn">Tüm Fakülteler</a>
		<a asp-controller="Home" asp-action="IndexFaculty" asp-route-announcementFaculty="Tıp" class="btn btn-primary faculty-btn">Tıp Fakültesi</a>
		<a asp-controller="Home" asp-action="IndexFaculty" asp-route-announcementFaculty="Diş Hekimliği" class="btn btn-primary faculty-btn">Diş Hekimliği Fakültesi</a>
		<a asp-controller="Home" asp-action="IndexFaculty" asp-route-announcementFaculty="Eczacılık" class="btn btn-primary faculty-btn">Eczacılık Fakültesi</a>
		<a asp-controller="Home" asp-action="IndexFaculty" asp-route-announcementFaculty="Mühendislik ve Doğa Bilimleri" class="btn btn-primary faculty-btn">Mühendislik ve Doğa Bilimleri Fakültesi</a>
		<a asp-controller="Home" asp-action="IndexFaculty" asp-route-announcementFaculty="Sağlık Bilimleri" class="btn btn-primary faculty-btn">Sağlık Bilimleri Fakültesi</a>
		<a asp-controller="Home" asp-action="IndexFaculty" asp-route-announcementFaculty="İktisadi, İdari ve Sosyal Bilimler" class="btn btn-primary faculty-btn">İktisadi, İdari ve Sosyal Bilimler Fakültesi</a>
	</div>
</div>*@

<!--   bu kısım deneysel , SpecialAnnouncement için -->
@if (Model.SpecialAnnouncement != null)
{
	<h3 class="text-center display-4"> Acil duyurular </h3>
	<hr />
	@foreach (var item in Model.SpecialAnnouncement)
	{
		@if (item != null)
		{

			var senderID = item.AnnouncementSenderID;
			var user = await UserStore.FindByIdAsync(senderID, CancellationToken.None);
			if (user != null)
			{

				<div class="container" style=" height:50%">
					<div class="card border mb-3 shadow" id="card" style="border-radius: 15px;">

						<div id="annHeader" class="card-header d-inline align-content-end card-header-with-shadow ann-header" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
							<h5 id="annHeaderContent">
								Acil Duyuru (@item.AnnouncementFaculty)<span id="Date" style="float: right; font-size: 12px; margin-top: 6px;">Gönderim tarihi: @item.AnnouncementSentDate.ToString("dd/MM/yyyy HH:mm")</span>
							</h5>
						</div>

						<div class="card-body" style="height: 175px;">

							<div>
								<h5 class="card-title m-0 p-0">
									<div class="container">
										<div class="row">
											<div class="col-lg-1 col-md-2 col-2 m-0 p-2 pt-0">
												<img src="@user.ProfilePhotoPath" class="img-fluid display-inline profilePic" style="width: 200px;">
											</div>
											<div class="col-lg-10 col-md-10 col-10">
												<div class="row ml-0 col-10">
													<div class="col-lg-10 col-md-10 col-10 m-0 p-0">
														<span class="indexNames">@user.Title @user.FirstName @user.LastName</span>

													</div>
													<div class="col-lg-3 col-md-10 col-sm-10 m-0 p-0">
														<span id="department" style="font-size: 13px;"> @user.Department</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</h5>
							</div>
							<span id="cardTitle" style="font-size: 24px; color: #85150d;"><p class="m-0 p-0" id="titleP">@item.AnnouncementTitle</p></span>

							<p class="card-text" id="card-text">
								@item.AnnouncementContent
							</p>

							<div>
								<a class="btn btn-outline-danger m-0" id="mobileDetails" asp-controller="Home" asp-action="AnnouncementDetails" asp-route-id="@item.ID">Detaylar</a>
							</div>

							<a id="details" asp-controller="Home" asp-action="AnnouncementDetails" asp-route-id="@item.ID">Detaylar</a>

							<button onclick="scrollToTop()"
									id="scroll-top-button"
									class="scroll-top-button"
									type="button">
								<span class="material-symbols-outlined"> arrow_upward </span>
							</button>
						</div>
					</div>

					<br />

				</div>
				
			}
		}
	}
	<hr />
}
<!--   ----------------------------------------  -->
@if (Model.AllAnnouncement != null)
{
	@foreach (var item in Model.AllAnnouncement)
	{
		@if (item != null)
		{
			
			var senderID = item.AnnouncementSenderID;
			var user = await UserStore.FindByIdAsync(senderID, CancellationToken.None);
			if (user != null)
			{

				<div class="container" style=" height:50%">
					<div class="card border mb-3 shadow" id="card" style="border-radius: 15px;">

						<div id="annHeader" class="card-header d-inline align-content-end card-header-with-shadow" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
						
							<h5 id="annHeaderContent">
								Duyuru (@item.AnnouncementFaculty)<span id="Date" style="float: right; font-size: 12px; margin-top: 6px;">Gönderim tarihi: @item.AnnouncementSentDate</span>
							</h5>
						</div>
						
						
						<div class="card-body" style="height: 175px;">
							
							<div>
								<h5 class="card-title m-0 p-0">
									<div class="container">
										<div class="row">
											<div class="col-lg-1 col-md-2 col-2 m-0 p-2 pt-0">
												<img src="@user.ProfilePhotoPath" class="img-fluid display-inline profilePic" style="width: 200px;">
											</div>
											<div class="col-lg-10 col-md-10 col-10">
												<div class="row ml-0 col-10">
													<div class="col-lg-10 col-md-10 col-10 m-0 p-0">
														<span class="indexNames">@user.Title @user.FirstName @user.LastName </span>

													</div>
													<div class="col-lg-3 col-md-10 col-sm-10 m-0 p-0">
														<span id="department" style="font-size: 13px;"> @user.Department</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</h5>
							</div>
							<span id="cardTitle" style="font-size: 24px; color: #85150d;"><p class="m-0 p-0" id="titleP">@item.AnnouncementTitle</p></span>
						
							<p class="card-text" id="card-text">
								@item.AnnouncementContent
								</p>

							<div>
							<a class="btn btn-outline-danger m-0" id="mobileDetails" asp-controller="Home" asp-action="AnnouncementDetails" asp-route-id="@item.ID">Detaylar</a>
							</div>

							<a id ="details" asp-controller="Home" asp-action="AnnouncementDetails" asp-route-id="@item.ID">Detaylar</a>

							<button onclick="scrollToTop()"
									id="scroll-top-button"
									class="scroll-top-button"
									type="button">
								<span class="material-symbols-outlined"> arrow_upward </span>
							</button>
						</div>
					</div>
					
					<br />
					
				</div>
			}
		}
	}
	
}

<script>
	const scrollTopButton = document.querySelector("#scroll-top-button");
	const nav = document.querySelector("#nav");

	const onScroll = (event) => {
		const scrollPosition = event.target.scrollingElement.scrollTop;

		scrollTopButton.classList.toggle("visible", scrollPosition > 0);
		nav.classList.toggle("scrolled", scrollPosition > 0);
	};

	const scrollToTop = () => {
		window.scrollTo({ top: 0, behavior: "smooth" });
	};

	document.addEventListener("scroll", onScroll);
</script>
