@inject UserManager<ApplicationUser> userManager
@model IEnumerable<ApplicationUser>
@{
	Layout = "_Layout.cshtml";
	ViewData["Title"] = "Kullanıcıları Listele";
	ViewData["ActivePage"] = AcademicianPlatform.Areas.Admin.ManageNavPages.Index;
	<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap" rel="stylesheet">
}

<h4 id="profile-title"><i class="fa-solid fa-users fa" style="color: #A82F3A;"></i>   @ViewData["Title"]</h4>
@*<partial name="_StatusMessage" for="StatusMessage" />*@
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
        <th>Sil</th>
        <th>Profil</th>
        <th>İsim</th>
        <th>Soyisim</th>
        <th>Departman</th>
        <th>Unvan</th>
        <th>Hakkımda</th>
        <th>CV</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var user in Model)
    {
        <tr>
            <form method="post">
                <th><button type="button"
                    class="btn delete-user-btn"
                    data-user-id="@user.Id"><i class="icon-advanced"></i>
                    </button>
                </th>
            </form>
                <td><img src="@user.ProfilePhotoPath" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" /></td>
            <td>@user.FirstName</td>
            <td>@user.LastName.ToUpper()</td>
            <td>@user.Department</td>
            <td>@user.Title</td>
            <td><p id="admin-about-me-text">@user.AboutMeText</p></td>
            <td><a href="@user.CVPath">CV</a></td>
        </tr>
    }
  </tbody>
</table>
<div class="modal fade shadow-lg justify-content-center" id="deleteUserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form method="POST" action="/Admin/Admin/DeleteUser" id="deleteUserForm">
                    <div class="form-group text-center">
                        <h2 class="text-danger">Kullanıcıyı Sil</h2>
                        <h5 class="text-dark">Seçtiğiniz kullanıcıyı silmek üzeresiniz. Devam etmek istiyor musunuz?</h5>
                        <input name="deleteUserId" type="hidden" id="deleteUserId" />
                        <button type="submit" class="btn btn-primary text-center">Sil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>
