@page
@model MyAnnouncementsModel
@{
    ViewData["Title"] = "Geçmiþ Duyurularým";
    ViewData["ActivePage"] = ManageNavPages.MyAnnouncements;
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap" rel="stylesheet">

}

<h4 id="profile-title"><i class="fas fa-bullhorn fa-sm" style="color: #A82F3A;"></i>   @ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<hr />
@if (Model.Announcements.Count > 0)
{
    <ul class="announcement-list">
        @foreach (var announcement in Model.Announcements)
        { 

            <li class="announcement-item">
                <h3 class="announcementTitle">@announcement.AnnouncementTitle</h3>
                <p style="max-width: 50%;" >@Html.Raw(@announcement.AnnouncementContent)</p>
                <p><strong><span class="faculty-label">Fakülte: </span></strong> @announcement.AnnouncementFaculty </p>
                <p><strong><span class="date-label">Tarih: </span> </strong> @announcement.AnnouncementSentDate.ToString("dd-MM-yyyy HH:mm:ss")</p>
                <form method="post" onsubmit="return confirm('Silmek istediðinize emin misiniz?');">
                    <input type="hidden" name="announcementId" value="@announcement.ID" />
                    <button type="submit" class="btn btn-outline-danger btn-duyuruSil">Sil</button>
                    <br />
                    <button type="button" class="btn btn-outline-primary edit-btn btn-duyuruDuzen" data-id="@announcement.ID" data-title="@announcement.AnnouncementTitle" data-faculty="@announcement.AnnouncementFaculty" data-content="@announcement.AnnouncementContent">Düzenle</button>
                </form>
                <div class="modal fade shadow-lg" id="editModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form asp-page-handler="Edit" method="post" id="editForm">
                                <div class="form-group text-center">
                                        <h2><span class="duyuru-duzenle">Düzenle: </span> <span class="title-text">@announcement.AnnouncementTitle</span></h2>
                                </div>
                                <div class="form-group">
                                        <label for="title" class="custom-title">Baþlýk</label>
                                    <input type="text" class="form-control" id="title" name="AnnouncementTitle"/>
                                </div>
                                <div class="form-group">
                                        <label for="faculty" class="custom-faculty">Fakülte</label>
                                    <select class="form-control" id="faculty" name="AnnouncementFaculty" required>
                                        <option value="Tüm Fakülteler">Tüm Fakülteler</option>
                                        <option value="Týp">Týp Fakültesi</option>
                                        <option value="Diþ Hekimliði">Diþ Hekimliði Fakültesi</option>
                                        <option value="Eczacýlýk">Eczacýlýk Fakültesi</option>
                                        <option value="Mühendislik ve Doða Bilimleri">Mühendislik ve Doða Bilimleri Fakültesi</option>
                                        <option value="Saðlýk Bilimleri">Saðlýk Bilimleri Fakültesi</option>
                                        <option value="Ýktisadi, Ýdari ve Sosyal Bilimler">Ýktisadi, Ýdari ve Sosyal Bilimler Fakültesi</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                        <label for="content" class="custom-content">Ýçerik</label>
                                    <textarea class="form-control" id="content" name="AnnouncementContent" rows="4"></textarea>
                                </div>
                                <input name ="AnnouncementId" type="hidden" value="@announcement.ID">
                                <button type="submit" class="btn btn-primary text-center">Kaydet</button>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
            </li>
        }
    </ul>
}
else
{
    <p class="duyuru-bulunmuyor">Hiç duyurunuz bulunmamaktadýr. <a class="text-dark" asp-area="" asp-controller="Home" asp-action="NewAnnouncement">Yeni duyuru</a> oluþturmak ister misiniz?</p>
}
